html {
  font-size: 18px;
}

body {
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

header {
  background-color: Black;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}

header span{
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.news-banner {
  display: block;
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-container {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  top: 9rem;
  color: white;
  position: relative;
}

.news-container h4 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0.25rem;
}

.news-container h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  background-color: firebrick;
  color: white;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

nav .container a {
  text-decoration: none;
  color: white;
}

nav .mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  display: none;
}

nav .mobile span a {
  text-decoration: none;
  color: white;
}

.products-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product-info {
  width: 30%;
}

.product-image {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
    max-width: 8rem;
}

.product-info .description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.store-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  margin-bottom: 4rem;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

footer {
  background-color: black;
  color: white;
  text-align: left;
  margin-top: 4rem;
  padding: 5rem 1.5rem;
}

/* Media Query Styles */
@media only screen and (max-width: 1024px){
  .news-container h2 {
    font-size: 0.95rem;
  }
  .news-container h4 {
    font-size: 0.65rem;
  }
}

@media only screen and (max-width: 1024px){
  nav .container span {
      display: none;
    }
  nav .mobile span a {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .product-info {
    width: 47%;
  }

}
